*{
    margin: 0;
}

header{
    margin-top: 50px;
  
}
.loc{
    display: flex;
}
.logo img{
    height: 110px;
    /* width: auto; */
}

.p{
    display: flex;
    margin-left: 30px;
   
}


.pimg img{
 position: absolute;
 right: 100px;
top: 60px;
    
}
.pimg img{
    width: 200px;
    height: 230px;
    /* border: 1px solid black; */
   
}

.eq{
    text-indent: 25px;
    /* width: auto; */
    color: white;
    height: 20px;
    background-color: rgb(243, 188, 106);
    border: 2px solid rgb(247, 151, 7);
    text-align: left;
    margin: 10px 0px 10px 0px;
}

.eqt{
  width: 99vw;
}

tr{
    text-align: left;
    padding: 8px 11px;
}

td{
    text-align: left;
padding: 8px 11px;}
table{
    /* margin: 25px 0; */
    width: 99vw;
    border-collapse: collapse;
    border-color:  rgb(21, 8, 8);
    
}

thead{
    background-color: burlywood;
}
.eqt thead tr{

    text-align: center;
}

li{
    padding: 8px 11px;

}
a{
    text-decoration: none;
}

